/* Fonts */

@font-face {
	font-family: "Circe-Regular";
	src: url(../fonts/Circe-Regular.woff2) format('woff2'),
		url(../fonts/Circe-Regular.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Circe-Bold";
	src: url(../fonts//Circe-Bold.woff2) format('woff2'),
		url(../fonts/Circe-Bold.woff) format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


/*Обнуление*/
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
/*--------------------*/


/* Normalize */

@import url(./_normalize.css);


/* Variables */

:root {
    --teak: #B59571;
    --teak-hover: #7e664a;
    --light-color: #fff;
    --light-color-hover: rgb(226, 225, 225);
    --mine-shaft: #333;
    --dark-color: #000;
}

/* Components */

/* Overall */

body.lock {
    overflow: hidden;
}

.site-container {
    overflow: hidden;
}
button {
    background-color: inherit;
}

/* Header */

.header {
    position: absolute;
    width: 100%;
}
.header-container {
    padding: 30px 100px;
}
.header__menu-list {
    display: flex;
    align-items: center;
    justify-content: end;
}
.header__menu-list._active {
    position: absolute;
    top: 29vh;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__menu-list._active .header__menu-item:not(:last-child) .header__menu-link {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.header__menu-list._active .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
}
.header__menu-item:not(:last-child) {
    margin-right: 50px;
}
.header__menu-link {
    font-family: "Circe-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
    transition: all 0.3s ease-in-out;
}
.header__menu-link:hover {
    color: var(--light-color-hover);
    transition: all 0.3s ease-in-out;
}
.btn {
    font-family: "Circe-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--light-color);
    background-color: var(--teak);
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background-color: var(--teak-hover);
    transition: all 0.3s ease-in-out;
}

/* Main */


/* First */

.first {
    display: grid;
    grid-template-columns: 120px 1fr;
    background-image: url(../img/first-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    min-height: 500px;
    margin-bottom: 150px;
}
.first__navbar {
    height: 100%;
    background-color: var(--mine-shaft);
}
.first__navbar-container {
    height: 100%;
    padding: 30px 20px 41px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.first__navbar._active .first__navbar-container {
    height: 100vh;
    min-height: 500px;
}
.first__navbar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first__navbar-logo {
    max-width: 73px;
    margin-bottom: 28px;
}
.first__navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first__navbar-burger {
    position: relative;
    width: 33px;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger:hover .burger-line {
    background-color: var(--teak-hover);
    transition: all 0.3s ease-in-out;
}
.burger-line {
    width: 100%;
    height: 2px;
    background-color: var(--teak);
    transition: all 0.3s ease-in-out;
}
.burger-line:first-child {
    width: 50%;
}
.burger-line:last-child {
    width: 65%;
}
.first__navbar-burger:hover .burger-line:first-child {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger:hover .burger-line:last-child {
    width: 90%;
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger:hover .burger-line:nth-child(2) {
    width: 50%;
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger._active .burger-line:first-child {
    width: 100%;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger._active .burger-line:nth-child(2) {
    display: none;
    transition: all 0.3s ease-in-out;
}
.first__navbar-burger._active .burger-line:last-child {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.first__navbar-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first__navbar-social._active {
    flex-direction: row;
}
.navbar__social-icon:not(:last-child) {
    margin-bottom: 40px;
}
.first__navbar-social._active .navbar__social-icon:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
}
.social__icon-youtube {
    width: 33px;
    height: 22px;
    object-fit: cover;
}
.social__icon-vk {
    width: 33px;
    height: 20px;
    object-fit: cover;
}
.social__icon-tg {
    width: 22px;
    height: 18px;
    object-fit: cover;
}
.first._active {
    grid-template-columns: 100% 0%;
    transition: all 0.3s ease-in-out;
    min-height: 500px;
}
.first__main-title {
    padding-top: 69.8vh;
    padding-left: 16%;
    font-family: "Circe-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: var(--light-color);
    max-width: 856px;
}

/* Articles */

.container {
    max-width: 1106px;
    padding: 0 15px;
    margin: 0 auto;
}
.articles__item {
    margin-bottom: 150px;
}
.articles__item-chapter {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.chapter {
    font-family: "Circe-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--mine-shaft);
    display: flex;
    align-items: center;
}
.item__chapter-line {
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--teak);
}
.articles__item-article {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12%;
}
.article-menu {
    margin-bottom: 120px;
}
.articles__item-title {
    font-family: "Circe-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: var(--mine-shaft);
    max-width: 196px;
}
.item__basic-subtitle {
    display: flex;
    align-items: center;
    gap: 30px;
}
.articles__item-text {
    font-family: "Circe-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--mine-shaft);
    max-width: 526px;
}
.articles__item-text:hover {
    color: var(--dark-color);
}
.articles__item-paragraph:not(:last-child) {
    margin-bottom: 10px;
}
.articles__item-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 104px;
    margin-right: 40px;
}
.menu-img {
    position: relative;
    z-index: 2;
}
.menu-img  img {
    width: 336px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 24px;
}
.menu-img::after {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 58px;
    left: -40px;;
    width: 416px;
    height: 240px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.chapter-basic::after {
    left: 63%;
}
.chapter-bar::after {
    left: 51.5%;
}
.article-delivery {
    margin-bottom: 60px;
}
.articles__item-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
}
.item__buttons-btn {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    padding: 15px 30px;
}
.item__buttons-btn:not(:last-child) {
    margin-right: 30px;
}
.item__buttons-btn:last-child {
    margin-right: 106px;
}
.btn-light {
    color: var(--mine-shaft);
    border: 1px solid rgba(51, 51, 51, 0.2);
    background-color: var(--light-color);
    transition: all 0.3s ease-in-out;
}
.btn-light:hover {
    background-color: var(--light-color-hover);
    transition: all 0.3s ease-in-out;
}


/* Popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 5;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease;
}
.popup._open {
    opacity: 1;
    visibility: visible;
}
.popup._open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    position: relative;
    background-color: var(--mine-shaft);
    color: var(--light-color);
    max-width: 416px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transition: all 0.8s ease;
}
.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup__logo {
    margin-bottom: 40px;
}
.popup__logo {
    width: 80px;
    height: 40px;
}
.popup__logo img {
    object-fit: cover;
}
.popup__text {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.popup__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.popup__field {
    border: 1px solid var(--light-color);
    background-color: inherit;
    font-family: 'Circe-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
    width: 100%;
    padding: 15px 20px;
}
.popup__field:nth-child(1) {
    margin-bottom: 30px;
}
.popup__field:nth-child(2) {
    margin-bottom: 30px;
}
.popup__fields-small {
    display: flex;
    align-items: center;
    gap: 24px;
}
.popup__fields-small input {
    max-width: 136px;
}

/* Contacts */

.contacts {
    margin-bottom: 100px;
}
.contacts__chapter {
    gap: 30px;
    margin-bottom: 80px;
}
.contacts__content {
    display: flex;
    gap: 18.6%;
}
.contacts__content-advantages {
    max-width: 416px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.content__advantages-analytic {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
.analutic-number {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: var(--teak);
}
.analytic-min {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--teak);
}
.content__advantages-text {
    font-family: 'Circe-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--mine-shaft);
}
.contacts__content-map {
    position: relative;
    max-width: 746px;
    width: 69%;
}
.contacts__content-information {
    position: absolute;
    top: 12.2%;
    left: -15%;
    background-color: #5B5B5B;
    max-width: 416px;
    padding: 40px;
}
.content__information-address {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 20px;
}
.information__address-text {
    font-family: 'Circe-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
}
.content__information-phone {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 25px;
}
.information__phone-text {
    font-family: 'Circe-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
}
.content__information-schedule {
    margin-bottom: 30px;
}
.information__schedule-title {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--light-color);
    margin-bottom: 15px;
}
.information__schedule-item:not(:last-child) {
    margin-bottom: 15px;
}
.information__schedule-item {
    display: flex;
    align-items: center;
    gap: 14px;
}
.schedule__item-days {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--light-color);
}
.schedule__item-time {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--light-color);
}
.content__information-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-dark {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
    background-color: inherit;
    border: 1px solid var(--light-color);
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
.btn-dark:hover {
    background-color: #494949;
    transition: all 0.3s ease-in-out;
}
.yandex-map {
    width: 100%;
    height: 450px;
}

/* Footer */

.footer {
    background-color: var(--mine-shaft);
    padding: 35px 0;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo {
    width: 73px;
    height: 46px;
}
.footer__logo {
    object-fit: cover;
}
.footer__confidance {
    font-family: 'Circe-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light-color);
}
.footer__design {
    font-family: 'Circe-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: var(--light-color);
}


/* Media */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .articles__item-menu {
        flex-direction: column;
        margin-right: 0;
    }
    .contacts__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    .contacts__content-advantages {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header__menu-list {
        display: none;
    }
    .header__menu-list._active {
        display: flex;
    }
    .first__navbar {
        height: 74px;
        width: 100%;
    }
    .first {
        display: block;
        min-height: 600px;
    }
    .first__navbar-container {
        flex-direction: row;
        margin-right: 30px;
    }
    .first__navbar-top {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .first__navbar-logo {
        margin-bottom: 0;
        margin-right: 20%;
    }
    .first__navbar-social {
        flex-direction: row;
    }
    .navbar__social-icon:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20%;
    }
    .first__navbar-container {
        padding: 20px 30px;
    }
    .first__main-title  {
        padding: 40vh 30px 0 30px;
        max-width: 600px;
    }
    .first__navbar._active {
        height: 100%;
    }
    .first__navbar._active .first__navbar-container {
        flex-direction: column;
    }
    .first__navbar._active .first__navbar-top {
        flex-direction: column;
    }
    .first__navbar._active .first__navbar-logo {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .first__navbar._active .first__navbar-container {
        margin-right: 0;
    }
    .articles__item-article {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 30px;
    }
    .articles__item-title {
        max-width: none;
    }
    .contacts__content-map {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacts__content-information {
        position: static;
        margin-bottom: 80px;
        width: 100%;
    }
    .yandex-map {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .first__main-title  {
        padding: 30vh 30px 0 30px;
        max-width: 500px;
    }
    .menu-img::after {
        left: -12px;
        width: 361px;
    }
    .articles__item-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item__buttons-btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .item__buttons-btn:last-child {
        margin-right: 0;
    }
    .articles__item-chapter {
        margin-bottom: 50px;
    }
    .content__information-buttons {
        flex-direction: column;
        gap: 40px;
    }
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 375px) {
    .first__main-title  {
        padding: 250px 30px 0 30px;
        font-size: 39px;
        line-height: 137%
    }
    .social__icon-youtube {
        width: 30px;
        height: 19px;
        object-fit: cover;
    }
    .social__icon-vk {
        width: 30px;
        height: 17px;
        object-fit: cover;
    }
    .social__icon-tg {
        width: 19px;
        height: 15px;
        object-fit: cover;
    }
    .menu-img img {
        width: 280px;
    }
    .menu-img::after {
        left: -15px;
        width: 309px;
    }
    .contacts__content-advantages {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-height: 700px) {
    .header__menu-list._active .header__menu-item:not(:last-child) .header__menu-link {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
    }
    .header__menu-list._active .header__menu-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-height: 500px) {
    .header__menu-list._active {
        top: 145px;
    }
}